---
---

@import "{{ site.theme }}";

* {
  margin: 0;
}

h1 {
 color: #6a9fb5;
 margin: 20px 0 0; 
}

h2, h3, h4, h5, h6 {
 margin: 0;
}

header {
 display: block;
}

.title {
  display: block;
  float: left;
  width: 50%;
  padding-left: 15%;
  min-width: 400px;
  h1 {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;//$header;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(181, 232, 83, 0.1),
                 0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    :before {
      content: "./ ";
      font-size: 24px;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
  }
}

.menu {
  display: flex;
  float: right;
  padding-right: 15%;
  width: 20%;
  .btn {
    flex: 1;
    display: block;
    text-align: center;
    margin: 0;
  }
}
