---
---

@import "{{ site.theme }}";

* {
  margin: 0;
}

h1 {
 color: #6a9fb5;
 margin: 20px 0 0; 
}

h2, h3, h4, h5, h6 {
 margin: 0;
}

header {
 display: flex
}

#menu {
  display: block;
  flex-grow: 1;
  flex: 1;
  .btn {
    display: inline-block;
    text-align: center;
    margin: 0;
  }
}
